USE [master]
GO
/****** Object:  Database [FlightManagementDB]    Script Date: 7/19/2024 7:54:05 PM ******/
CREATE DATABASE [FlightManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlightManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TUANDEPTRY\MSSQL\DATA\FlightManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlightManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TUANDEPTRY\MSSQL\DATA\FlightManagementDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightManagementDB]
GO
/****** Object:  Table [dbo].[AccountMember]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountMember](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](255) NULL,
	[FullName] [nvarchar](50) NULL,
	[Role] [varchar](50) NULL,
	[Enable] [bit] NULL,
	[Gender] [varchar](50) NULL,
	[Dob] [date] NULL,
 CONSTRAINT [PK_AccountMember] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airline]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airline](
	[id] [int] NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airport]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airport](
	[id] [int] NOT NULL,
	[code] [varchar](10) NULL,
	[name] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baggage]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baggage](
	[id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[weight_in_kg] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[booking]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[booking](
	[id] [int] NOT NULL,
	[passenger_id] [int] NULL,
	[flight_id] [int] NULL,
	[booking_platform_id] [int] NULL,
	[booking_time] [datetime] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookingPlatform]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookingPlatform](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[url] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flight]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flight](
	[id] [int] NOT NULL,
	[airline_id] [int] NULL,
	[departing_airport] [int] NULL,
	[arriving_airport] [int] NULL,
	[departing_gate] [varchar](10) NULL,
	[arriving_gate] [varchar](10) NULL,
	[departure_time] [datetime] NULL,
	[arrival_time] [datetime] NULL,
	[status] [bit] NULL,
	[number_passengers] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passenger]    Script Date: 7/19/2024 7:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passenger](
	[id] [int] NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[date_of_birth] [date] NULL,
	[country] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccountMember] ON 

INSERT [dbo].[AccountMember] ([AccountId], [Email], [Password], [FullName], [Role], [Enable], [Gender], [Dob]) VALUES (2, N'STAFF123', N'$2a$11$j1sGqmHZiG2fRHp6/wNM1.QC1CuqlPpK9XI1dvF.Q1hGh/Y9niVZy', N'Nguyen Minh Tuan', N'Admin', 1, N'Male', CAST(N'2003-11-28' AS Date))
INSERT [dbo].[AccountMember] ([AccountId], [Email], [Password], [FullName], [Role], [Enable], [Gender], [Dob]) VALUES (3, N'ADMIN', N'$2a$11$GUmpt28oY.twXcPwWC5f4uGv01SEOsLsTxqhfqm4UM63cJ3V50vdK', N'ADMIN1234', N'Super Admin', 1, N'Male', CAST(N'2003-11-28' AS Date))
INSERT [dbo].[AccountMember] ([AccountId], [Email], [Password], [FullName], [Role], [Enable], [Gender], [Dob]) VALUES (4, N'STAFF', N'$2a$11$s/N89npAGmdUnOY/lG6BueoBmbxe2xknrXqalIgFu8TyqHDdXJ6K6', N'STAFF123', N'Staff', 1, N'Male', CAST(N'2003-11-28' AS Date))
SET IDENTITY_INSERT [dbo].[AccountMember] OFF
GO
INSERT [dbo].[airline] ([id], [code], [name], [country]) VALUES (1, N'VN', N'Vietnam Airlines', N'Vietnam')
INSERT [dbo].[airline] ([id], [code], [name], [country]) VALUES (2, N'CZ', N'China Southern Airlines', N'China')
INSERT [dbo].[airline] ([id], [code], [name], [country]) VALUES (3, N'CI', N'China Airlines', N'China')
GO
INSERT [dbo].[airport] ([id], [code], [name], [country], [state], [city]) VALUES (1, N'DEN', N'Denver International Airport', N'United States', N'Colorado', N'Denver')
INSERT [dbo].[airport] ([id], [code], [name], [country], [state], [city]) VALUES (2, N'ATL', N'Atlanta Hartsfield-Jackson Airport', N'United States', N'Georgia', N'Atlanta')
INSERT [dbo].[airport] ([id], [code], [name], [country], [state], [city]) VALUES (3, N'IST', N'Istanbul International Airport', N'Turkey', NULL, N'Istanbul')
GO
INSERT [dbo].[baggage] ([id], [booking_id], [weight_in_kg]) VALUES (1, 264, CAST(23.10 AS Decimal(4, 2)))
INSERT [dbo].[baggage] ([id], [booking_id], [weight_in_kg]) VALUES (2, 316, CAST(23.70 AS Decimal(4, 2)))
INSERT [dbo].[baggage] ([id], [booking_id], [weight_in_kg]) VALUES (3, 419, CAST(22.80 AS Decimal(4, 2)))
GO
INSERT [dbo].[booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time], [status]) VALUES (1, 357, 319, 9, CAST(N'2023-03-11T12:39:05.000' AS DateTime), 1)
INSERT [dbo].[booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time], [status]) VALUES (2, 74, 96, 2, CAST(N'2023-03-16T15:49:44.000' AS DateTime), 1)
INSERT [dbo].[booking] ([id], [passenger_id], [flight_id], [booking_platform_id], [booking_time], [status]) VALUES (3, 473, 227, 2, CAST(N'2022-05-21T16:06:23.000' AS DateTime), 1)
GO
INSERT [dbo].[bookingPlatform] ([id], [name], [url]) VALUES (1, N'Make my trip', N'https://www.makemytrip.com/')
INSERT [dbo].[bookingPlatform] ([id], [name], [url]) VALUES (2, N'Trip Ninja', N'https://www.tripninja.io/')
INSERT [dbo].[bookingPlatform] ([id], [name], [url]) VALUES (3, N'Capterra', N'https://www.capterra.com/')
GO
INSERT [dbo].[flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time], [status], [number_passengers]) VALUES (1, 17, 12, 9, N'2E', N'2A', CAST(N'2023-06-01T02:30:22.000' AS DateTime), CAST(N'2023-01-06T03:53:00.000' AS DateTime), 1, 250)
INSERT [dbo].[flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time], [status], [number_passengers]) VALUES (2, 8, 18, 17, N'1C', N'2E', CAST(N'2023-08-16T14:21:12.000' AS DateTime), CAST(N'2023-08-16T23:57:12.000' AS DateTime), 1, 200)
INSERT [dbo].[flight] ([id], [airline_id], [departing_airport], [arriving_airport], [departing_gate], [arriving_gate], [departure_time], [arrival_time], [status], [number_passengers]) VALUES (3, 10, 5, 9, N'2D', N'2C', CAST(N'2023-11-06T23:15:36.000' AS DateTime), CAST(N'2023-11-07T15:09:36.000' AS DateTime), 1, 200)
GO
INSERT [dbo].[passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender]) VALUES (0, N'Nguyen Minh', N'Tuan deptrai part 2', CAST(N'2003-11-29' AS Date), N'Viet Name', N'TuanNMHE173518@fpt.edu.vnvn', N'Male')
INSERT [dbo].[passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender]) VALUES (1, N'Taddeo', N'Rabjohns', CAST(N'1974-06-29' AS Date), N'Mongolia', N'trabjohns0@so-net.ne.jp', N'Male')
INSERT [dbo].[passenger] ([id], [first_name], [last_name], [date_of_birth], [country], [email], [gender]) VALUES (2, N'Rad', N'Baudins', CAST(N'1975-05-31' AS Date), N'Bulgariaa', N'rbaudins1@ihg.com', N'Female')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccountMember]    Script Date: 7/19/2024 7:54:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AccountMember] ON [dbo].[AccountMember]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airline__357D4CF9D8B2FEC9]    Script Date: 7/19/2024 7:54:06 PM ******/
ALTER TABLE [dbo].[airline] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airline__72E12F1B489FC1D1]    Script Date: 7/19/2024 7:54:06 PM ******/
ALTER TABLE [dbo].[airline] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__airport__357D4CF984153B6B]    Script Date: 7/19/2024 7:54:06 PM ******/
ALTER TABLE [dbo].[airport] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[baggage]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[booking] ([id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([booking_platform_id])
REFERENCES [dbo].[bookingPlatform] ([id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([flight_id])
REFERENCES [dbo].[flight] ([id])
GO
ALTER TABLE [dbo].[booking]  WITH CHECK ADD FOREIGN KEY([passenger_id])
REFERENCES [dbo].[passenger] ([id])
GO
ALTER TABLE [dbo].[flight]  WITH CHECK ADD FOREIGN KEY([airline_id])
REFERENCES [dbo].[airline] ([id])
GO
ALTER TABLE [dbo].[flight]  WITH CHECK ADD FOREIGN KEY([arriving_airport])
REFERENCES [dbo].[airport] ([id])
GO
ALTER TABLE [dbo].[flight]  WITH CHECK ADD FOREIGN KEY([departing_airport])
REFERENCES [dbo].[airport] ([id])
GO
USE [master]
GO
